<div class='auth_holder'>
  <div class='header_section'>
    <span class='left_action'>
      <%= link_to user_categories_path(@user), class:'back_button_link' do%>
        <%= image_tag 'icons8_back_left', class:'back_button_icon' %>
      <% end %>
    </span>
    <span class='header_header'>
      TRANSACTIONS
    </span>
    <span class='right_action'>
      <%= image_tag 'icons8_search', class: 'search_icon' %>
    </span>
  </div>
  <h2 class='long_auth_header'>
    Create Transaction
  </h2>

  <%= form_with models: [ @deal, @categorydeal ],scope: 'transaction', url: user_deals_path(@user), method: :post do |form| %>
    <div class="field">
      <%= form.label :name %><br />
      <%= form.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= form.label :amount %><br />
      <%= form.number_field :amount %>
    </div>

    <div class='selection_field'>
      <%= form.label :category_id, 'Select Category' %><br />
      <%= form.collection_select(:category_id, @categories, :id, :name, { include_blank: ''}) %>
    </div>

    <div class="actions">
      <%= form.submit "Create Transaction", class: 'long_button' %>
    </div>
  <% end %>
</div>