<!DOCTYPE html>
<html>
  <head>
    <title>BudgetBuilder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "landing.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='inner_container'>
    <span class='notifications'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </span>
      <%= yield %>
    </div>
  </body>
</html>
